#root {
  max-width: 0 100svh;
  margin: 0 auto;
  text-align: center;
}

hr {
  border: 2px solid #F8F9FA;
  border-radius: 2rem;
  width: 90%;
}

.board{
  background-color: #E9ECEF;
  /* border: 2px solid #6C757D; */
  border-radius: .5rem;
}

.question{
  padding: 0.5rem 2rem;
  margin: 0 auto;
  max-width: 80%;
}
.question p{
  background-color: #6C757D;
  color: #E9ECEF;
}
h2{
  margin-top: 0;
  padding-top: 1rem;
}
p{
  background-color: #F8F9FA;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.answers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.answers div{
  background-color: #F8F9FA;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.answers div:hover{
  background-color: #DEE2E6;
}
.answers div:active{
  background-color: #343A40;
  color: #E9ECEF;
}

@media only screen and (min-width:768px) {
  .answers div{
    flex-basis: 30%;
  }  
}
