.navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: #6C757D;
  border-width: 2px;
  border-bottom: none;
  border-radius: .5rem .5rem 0 0;
}
.svg-icon{
  fill: #212529;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin: .25rem 1rem;
}
.svg-icon:hover{
  cursor: pointer;
  background-color: #212529;
  fill: #E9ECEF
}

.header{
  font-size: 2rem;
  font-weight: bold;
}